.app-page-title {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 1.5rem
}

.app-card .app-card-header {
    border-bottom: 1px solid #e7e9ed
}

.app-card-account {
    height: 100%
}

.app-card-account .item {
    font-size: .875rem
}

.app-card-account .item .profile-image {
    width: 60px;
    height: 60px
}

.app-card-account .item .btn-sm,
.app-card-account .item .btn-group-sm>.btn {
    padding: .125rem .5rem;
    font-size: .75rem
}

.app-card .app-icon-holder.icon-holder-mono {
    background: #f5f6fe;
    color: #828d9f
}

.app-card .app-icon-holder svg {
    width: 24px;
    height: 24px
}